[submodule "analyzemft"]
	path = pkgbuilds/analyzemft
	url = ssh://aur@aur.archlinux.org/analyzemft.git
[submodule "analyzemft-git"]
	path = pkgbuilds/analyzemft-git
	url = ssh://aur@aur.archlinux.org/analyzemft-git.git
[submodule "ao"]
	path = pkgbuilds/ao
	url = ssh://aur@aur.archlinux.org/ao.git
[submodule "beef-git"]
	path = pkgbuilds/beef-git
	url = ssh://aur@aur.archlinux.org/beef-git.git
[submodule "clash-dashboard"]
	path = pkgbuilds/clash-dashboard
	url = ssh://aur@aur.archlinux.org/clash-dashboard.git
[submodule "course-crawler-git"]
	path = pkgbuilds/course-crawler-git
	url = ssh://aur@aur.archlinux.org/course-crawler-git.git
[submodule "fortressone-bin"]
	path = pkgbuilds/fortressone-bin
	url = ssh://aur@aur.archlinux.org/fortressone-bin.git
[submodule "muduo"]
	path = pkgbuilds/muduo
	url = ssh://aur@aur.archlinux.org/muduo.git
[submodule "python-aigpy"]
	path = pkgbuilds/python-aigpy
	url = ssh://aur@aur.archlinux.org/python-aigpy.git
[submodule "python-aigpy-git"]
	path = pkgbuilds/python-aigpy-git
	url = ssh://aur@aur.archlinux.org/python-aigpy-git.git
[submodule "python-libconfigparser"]
	path = pkgbuilds/python-libconfigparser
	url = ssh://aur@aur.archlinux.org/python-libconfigparser.git
[submodule "python-libffmpeg"]
	path = pkgbuilds/python-libffmpeg
	url = ssh://aur@aur.archlinux.org/python-libffmpeg.git
[submodule "python-minieigen-git"]
	path = pkgbuilds/python-minieigen-git
	url = ssh://aur@aur.archlinux.org/python-minieigen-git.git
[submodule "python-termcolors"]
	path = pkgbuilds/python-termcolors
	url = ssh://aur@aur.archlinux.org/python-termcolors.git
[submodule "python-torrequest"]
	path = pkgbuilds/python-torrequest
	url = ssh://aur@aur.archlinux.org/python-torrequest.git
[submodule "sddm-sugar-dark"]
	path = pkgbuilds/sddm-sugar-dark
	url = ssh://aur@aur.archlinux.org/sddm-sugar-dark.git
[submodule "sddm-sugar-light"]
	path = pkgbuilds/sddm-sugar-light
	url = ssh://aur@aur.archlinux.org/sddm-sugar-light.git
[submodule "sherlock-git"]
	path = pkgbuilds/sherlock-git
	url = ssh://aur@aur.archlinux.org/sherlock-git.git
[submodule "sigma"]
	path = pkgbuilds/sigma
	url = ssh://aur@aur.archlinux.org/sigma.git
[submodule "tidal-dl"]
	path = pkgbuilds/tidal-dl
	url = ssh://aur@aur.archlinux.org/tidal-dl.git
[submodule "clash-dashboard-git"]
	path = pkgbuilds/clash-dashboard-git
	url = ssh://aur@aur.archlinux.org/clash-dashboard-git.git
[submodule "pycharm-edu"]
	path = pkgbuilds/pycharm-edu
	url = ssh://aur@aur.archlinux.org/pycharm-edu.git
[submodule "pkgbuilds/supersm"]
	path = pkgbuilds/supersm
	url = ssh://aur@aur.archlinux.org/supersm.git
[submodule "pkgbuilds/nvidia-dkms-fix-drm-drmph-not-found"]
	path = pkgbuilds/nvidia-dkms-fix-drm-drmph-not-found
	url = https://github.com/peeweep/nvidia-dkms-fix-drm-drmph-not-found
[submodule "pkgbuilds/ao-git"]
	path = pkgbuilds/ao-git
	url = ssh://aur@aur.archlinux.org/ao-git.git
[submodule "pkgbuilds/python-androguard-git"]
	path = pkgbuilds/python-androguard-git
	url = ssh://aur@aur.archlinux.org/python-androguard-git.git
[submodule "pkgbuilds/quark-engine"]
	path = pkgbuilds/quark-engine
	url = ssh://aur@aur.archlinux.org/quark-engine.git
[submodule "pkgbuilds/apindex"]
	path = pkgbuilds/apindex
	url = ssh://aur@aur.archlinux.org/apindex.git
