[submodule "ao"]
	path = pkgbuilds/ao
	url = ssh://aur@aur.archlinux.org/ao.git
[submodule "clash-dashboard"]
	path = pkgbuilds/clash-dashboard
	url = ssh://aur@aur.archlinux.org/clash-dashboard.git
[submodule "muduo"]
	path = pkgbuilds/muduo
	url = ssh://aur@aur.archlinux.org/muduo.git
[submodule "python-aigpy"]
	path = pkgbuilds/python-aigpy
	url = ssh://aur@aur.archlinux.org/python-aigpy.git
[submodule "python-libffmpeg"]
	path = pkgbuilds/python-libffmpeg
	url = ssh://aur@aur.archlinux.org/python-libffmpeg.git
[submodule "sddm-sugar-dark"]
	path = pkgbuilds/sddm-sugar-dark
	url = ssh://aur@aur.archlinux.org/sddm-sugar-dark.git
[submodule "sddm-sugar-light"]
	path = pkgbuilds/sddm-sugar-light
	url = ssh://aur@aur.archlinux.org/sddm-sugar-light.git
[submodule "tidal-dl"]
	path = pkgbuilds/tidal-dl
	url = ssh://aur@aur.archlinux.org/tidal-dl.git
[submodule "clash-dashboard-git"]
	path = pkgbuilds/clash-dashboard-git
	url = ssh://aur@aur.archlinux.org/clash-dashboard-git.git
[submodule "pkgbuilds/supersm"]
	path = pkgbuilds/supersm
	url = ssh://aur@aur.archlinux.org/supersm.git
[submodule "pkgbuilds/ao-git"]
	path = pkgbuilds/ao-git
	url = ssh://aur@aur.archlinux.org/ao-git.git
[submodule "pkgbuilds/apindex"]
	path = pkgbuilds/apindex
	url = ssh://aur@aur.archlinux.org/apindex.git
[submodule "pkgbuilds/neovide-git"]
	path = pkgbuilds/neovide-git
	url = ssh://aur@aur.archlinux.org/neovide-git.git
[submodule "pkgbuilds/neovide"]
	path = pkgbuilds/neovide
	url = ssh://aur@aur.archlinux.org/neovide.git
